<!-- Configure the pictures in the file _includes/about-picture-script.html -->

<figure class="about-picture" onclick="getAboutPicture()"><img src="" alt="Deewang beaming" title="Deewang Bhamidipati" id="aboutImg" width="200" height="200">
<figcaption id="aboutCaption">Hi, this is Deewang!</figcaption> 
</figure>


<!-- choose one picture as a fallback in case Javascript fails -->

<noscript>
<figure class="about-picture"><img src="/static/about-pictures/bdeewang-blacksquare.jpg" alt="Deewang next to Black Square" title="Deewang (in 2019)"><figcaption id="aboutCaption">Hi, this is Deewang!</figcaption> 
</figure></figure>
</noscript>