<footer>
	<div class="row">
		<div class="col-5">
	<a href="#">Top &#8593;</a>&nbsp;
</div>
	<!-- <a href="https://www.math.ucsc.edu/index.html" title="Math at UCSC">Math at UCSC</a> -->
<div class="col">
	<a href="/"  style="float: right">&copy; Deewang Bhamidipati 2024</a>
</div>
</div>
<!-- 	{%- unless page.url == "/" -%}<a href="/" title="Home">Home</a>&nbsp;{%- endunless -%}
	{%- unless page.url == "/contact" -%}<a href="/contact" title="Contact">Contact</a>&nbsp;{%- endunless -%}
	{%- unless page.url == "/about" -%}<a href="/rss" title="RSS">RSS&nbsp;</a>{%- endunless -%} -->
</footer>