<div class="header">

<ul class="nav nav-pills pull-right">

<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Research
    	<span class="caret"></span></a>
   <ul class="dropdown-menu">

      <li class="{{ page.publications }}"><a href="/research/projects" title="Publications">Projects</a></li>

      <li class="{{ page.presentations }}"><a href="/research/presentations" title="Presentations">Presentations</a></li>
<!-- 
      <li class="{{ page.programming }}"><a href="/programming" title="Programming">Programming</a></li>
 -->      
      <li class="{{ page.travel }}"><a href="/research/travel" title="Travel">Travel</a></li>
   </ul>
 </li>

  <li class="{{ page.teaching }}"><a href="/teaching" title="Teaching">Teaching</a></li>

<!--
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Writing
      <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li class="{{ page.expository }}"><a href="/writing/expository" title="Expository">Expository</a></li>
      <li class="{{ page.general }}"><a href="/writing/general" title="General">General</a></li>
    </ul>
    </li>
-->

  <li class="{{ page.organizing }}"><a href="/activities" title="Activities">Activities</a></li>
    
  <li class="{{ page.links }}"><a href="/links" title="Links">Links</a></li>

<!-- 
  <li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Service
    	<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li class="{{ page.outreach }}"><a href="/outreach" title="Outreach">Outreach</a></li>
      <li class="{{ page.community }}"><a href="/community" title="Community">Community</a></li>
    </ul>
  </li>
-->
<!--
	<li class="{{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li>
-->	
 </ul>
	<h3 class="text-muted" ><a href="/">Deewang </a></h3>
</div> <!-- /header -->
