{%- include head-matter.html -%}
{%- include pretty-numbers.html -%}

<body>

<main>
{%- unless page.og-type == "website" -%}<article>{%- endunless -%}

<header>
  <div class="header-top-line">
    <h1 class="index-title">{{ page.title }}</h1>
    <span class="veryright"><a href="/">&#8592; Home</a></span>
  </div>
	{%- unless page.nav == false -%}
	<nav>
		{%- include page-nav.html -%}
	</nav>
	{%- endunless -%}
</header>

{{ content }}

{%- unless page.og-type == "website" -%}</article>{%- endunless -%}
</main>

{%- include footer.html -%}

</body>

</html>